/* Asegúrate de que el contenedor de partículas ocupe todo el fondo */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Detrás del contenido */
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden; /* Para eliminar el scroll innecesario */
}

nav {
    position: relative;
    z-index: 1; /* Coloca el menú sobre el fondo de partículas */
    font-family: neusharp;
    margin-right: 10px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    text-decoration: none;
    display: block;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 14px 9px;
}

li a:hover {
    color: #ffa500;
}

/* Estilos para la sección de descarga */
#descargar {
    position: fixed; /* Para mantener la sección en una posición fija */
    bottom: 300px; /* Ajustar la posición más abajo */
    left: 200px; /* Ajustar más a la izquierda */
    z-index: 1;
    color: white;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 600px; /* Tamaño más compacto */
    border-radius: 10px;
    text-align: left;
    font-family: neusharp;
    font-size: 20px;
}

/* Estilos para el título */
#descargar h2 {
    color: orange;
    margin-bottom: 15px;
}

/* Estilos del párrafo */
#descargar p {
    margin-bottom: 40px; /* Espacio para que no se superponga con el botón */
}

/* Estilos del botón de descarga */
.download-btn {
    display: block;
    background-color: orange;
    color: black;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Centra el texto en el botón */
    margin: 0 auto; /* Centra el botón dentro de su contenedor */
}

.download-btn:hover {
    background-color: #ff8c00;
}
